# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.bak

glsldb/glenumerants/glxenumerants.h

glsldb/glenumerants/enumerants.h

glsldb/DebugLib/functionList.c

glsldb/DebugLib/replayFunction.c

glsldb/DebugLib/getProcAddressHook.inc

glsldb/DebugLib/functionsAllowedInBeginEnd.pl

glsldb/DebugLib/functionPointerTypes.inc

glsldb/DebugLib/functionHooks.inc

glsldb/.DS_Store

.DS_Store
