# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# CMake stuff
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile

# output
bin
lib

# QT stuff
moc_*.cxx
ui_*.h
qrc_*.cxx

*.bak

glsldb/glenumerants/glxenumerants.h

glsldb/glenumerants/enumerants.h

glsldb/DebugLib/functionList.c

glsldb/DebugLib/replayFunction.c

glsldb/DebugLib/getProcAddressHook.inc

glsldb/DebugLib/functionsAllowedInBeginEnd.pl

glsldb/DebugLib/functionPointerTypes.inc

glsldb/DebugLib/functionHooks.inc

glsldb/.DS_Store

.DS_Store
