
# save selection then load it with another branch 
2 -> save
5 -> load
7 -> bhvr else
8 -> bhvr into
# TODO: if over
# save state then load it to step over the function call
12 -> save
14 -> load bhvr over
16 -> bhvr into
# jump out of loop
24 -> bhvr over
25 -> save bhvr into
26 -> bhvr switch 1
27 -> load bhvr into
28 -> bhvr switch 2
30 -> load bhvr into
31 -> bhvr switch 3
32 -> bhvr into
